<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()">Menu 1</a>
      <a mat-list-item (click)="sidenav.toggle()">Menu 2</a>
      <a mat-list-item (click)="sidenav.toggle()">Menu 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
        <mat-toolbar color="primary">
          <button  mat-icon-button 
                   aria-label="Menu"
                   (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>  
  </mat-toolbar>
    <!-- <router-outlet></router-outlet> -->
    <app-wine-card-list></app-wine-card-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>