<html lang="en" xmlns:th="http://www.thymleaf.com">

<head>Meassurement App
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title th:text="${pageTitle}">Page Title</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
</head>

<body>
<h1>Meassurement Application</h1>
<article>
    <h1 th:text="${error}"></h1>
    <h1 th:text="${message}"></h1>
    <h1 th:text="${timestamp}"></h1>
    <h1 th:text="${path}"></h1>
    <h1 th:text="${status}"></h1>
</article>
</body>

</html>